<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            
            <h2 class="title-thin text-muted">Skills</h2>

            <div class="col-sm-6 clear-mrg">

               <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">c++/Python/shell</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Linux后台技术</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                    </span>
                </div>


                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">网络安全技术</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                </div>
                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">跨平台SDK技术</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                </div>
                

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">小程序和移动端技术</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                        <span class="bullet"></span>
                    </span>
                </div> 


        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
