<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">实习经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Oct <strong class="text-upper">2018</strong> - Dec <strong class="text-upper">2018</strong></span>
                    </time>
                    <h3>研发实习生</h3>
                    <span class="education-company">互联网 | 字节跳动上海研发中心</span>
                    <p>跟进产品迭代中的接口自动化测试</p>
                    <p>参与部分日常工具的开发</p>
                </div>
                <!-- .education-box -->
            </div>
        </div>
    </div>
</section><!-- .section -->
