<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人项目</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

              <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="/zlonqi/styles/img/portfolio/ibms.jpg" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">linux高并发高性能WEB服务器</h2>
                                <p>Nginx作接入负载均衡，redis作缓存，实现了高并发地快速处理Web静态资源请求和执行FastCGI动态程序，采用reactor+线程池模式，线程只配单例解析器，节约内存，能应对IO密集型和CPU密集型请求，各种网络通讯细节把握得当周全，心跳连接和redis连接能中断重连，具有良好额可靠性、可用性、可拓展性、日志异步写入且丰富合理，还现实了主机、进程和线程的联合监控;项目基于C++11、g++5.4.0开发、涉及工具CMake、git、valgrind、火焰图、wrk和apache ab等</p></p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url(/zlonqi/styles/img/portfolio/coder.jpeg); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">高性能多线程web服务器</h2>
                            <p class="text-muted"><strong>design / development</strong></p>
                            <dl class="dl-horizontal">
                                <dt>演示短视频:</dt>
                                <dd><a href="https://zlonqi.gitee.io/2020/02/11/lonky-pretty-server/">Demo</a></dd>
                            </dl>
                            <p>高并发、高性能、Reactor、线程池、异步日志、联合监控、redis</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="/zlonqi/styles/img/portfolio/prj-02.jpg" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">gitee</h2>
                                <p>项目托管在码云。记得给个赞哦！</p>
                                <a href="https://zlonqi.gitee.io/2020/02/11/lonky-pretty-server/" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->
