<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/NCU.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>南昌大学</strong>
                        <span>2015 - 2019 | 信息安全学士</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>本科在校获得国家励志奖学金2次，校特等奖学金2次在内的数次校奖学金，优秀毕业生
                        </p>
                        <p>大一暑期赴皖南南陵县进行公益性暑期支教开课30余天
                        </p>
						<p>大二暑期参加国家网信办暨武汉大学国家网络安全学院暑期学校
						</p>
						<p>大四推免至华南理工大学继续攻读硕士学位，同年到字节跳动上海研发中心实习
						</p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/scut.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>华南理工大学</strong>
                        <span>2019 - 2022 | 软件工程硕士</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>获得校级3等奖学金
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
