<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Experience</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2022 <strong class="text-upper">7</strong> - now <strong class="text-upper"></strong></span>
                    </time>
                    <h3>Tencent Inc</h3>
                    <span class="education-company">Wechat. c++ BackEnd. full. Canton</span>
                    <!--<p>后台开发</p>!-->
                    <p></p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2021 <strong class="text-upper">3</strong> - 2021 <strong class="text-upper">5</strong></span>
                    </time>
                    <h3>Tencent-Cloud Inc</h3>
                    <span class="education-company">CloudNative.Go BackEnd. intern. Shenzhen</span>
                    <!--<p>后台开发</p>!-->
                    <p></p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2018 <strong class="text-upper">10</strong> - 2018 <strong class="text-upper">12</strong></span>
                    </time>
                    <h3>ByteDance Inc</h3>
                    <span class="education-company">R&D. Python QA. intern. Shanghai</span>
                    <!--<p>测试开发</p>!-->
                </div>
                <!-- .education-box -->
            </div>
        </div>
    </div>
</section><!-- .section -->
