<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人项目</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

              <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="/zlonqi/styles/img/portfolio/server2.png" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">linux c++ 高性能服务器</h2>
                                <p>Nginx作接入负载均衡，redis作缓存，能够高并发且快速处理Web静态资源请求和执行FastCGI动态程序，采用reactor+线程池模型，线程单例http解析器、单例redis长连接，能应对IO密集型和CPU密集型请求，各种网络通讯细节把握得当周全，心跳连接和redis线程单例长连接和服务解耦优化，既能应对下游组件崩溃，也能中断重连，具有良好额可靠性、可用性，丰富的异步日志和灵活的配置文件，赋予了高度的可维可测性，此外，实现了主机、进程和线程三者的联合监控;项目基于C++11、g++5.4.0开发、遵循完整的软件工程开发流程</p></p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">gitee</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url(/zlonqi/styles/img/portfolio/arch1.png); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">c++多线程高性能服务器</h2>
                            <p class="text-muted"><strong>design / development</strong></p>
                            <dl class="dl-horizontal">
                                <dt>[video]:</dt>
                                <a href="https://zlonqi.gitee.io/2020/02/11/lonky-pretty-server/"> <img src="/zlonqi/styles/img/video1.png" alt=""> <img src="/zlonqi/styles/img/video2.png" alt=""> <img src="/zlonqi/styles/img/video3.png" alt=""></a>
                            </dl>
                            <dl class="dl-horizontal">
                                 <a href="https://gitee.com/zlonqi/longky"> <img src="/zlonqi/styles/img/gitee.png" alt=""> </a>
                                 <a href="https://github.com/zlonqi/longky"> <img src="/zlonqi/styles/img/github.png" alt=""> </a>
                             </dl>
                            <p>高并发、高性能、高可靠、高可用、可维可测、Reactor+threadPool、异步日志、联合监控、线程单例解析器、线程单例redis长连接</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="/zlonqi/styles/img/portfolio/prj-02.jpg" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">gitee</h2>
                                <p>项目托管在码云。记得给个关注哦！</p>
                                <a href="https://zlonqi.gitee.io/2020/02/11/lonky-pretty-server/" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->
