<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">项目展示</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

              <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="/zlonqi/styles/img/portfolio/server2.png" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">a more powerful net server</h2>
                                <p>大并发、高性能、易维护、可追溯、可容错、联合监控 </p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url(/zlonqi/styles/img/portfolio/arch1.png); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">a more powerful net server</h2>
                            <p class="text-muted"><strong>design / development</strong></p>
                            <dl class="dl-horizontal">
                                <dt>[短片]:</dt>
                                <a href="https://zlonqi.gitee.io/2020/02/11/lonky-pretty-server/"> <img src="/zlonqi/styles/img/video1.png" alt=""> <img src="/zlonqi/styles/img/video2.png" alt=""> <img src="/zlonqi/styles/img/video3.png" alt=""></a>
                            </dl>
                            <dl class="dl-horizontal">
							 <dt>[仓库]:</dt>
                                 <a href="https://gitee.com/zlonqi/longky"> <img src="/zlonqi/styles/img/gitee.png" alt=""> </a>
                                <a href="https://github.com/zlonqi/longky"> <img src="/zlonqi/styles/img/github.png" alt=""> </a>
                             </dl>
								<p style="color:black;font-size:10px;">
								开发语言 C+ + 11、Javascript、Bash<br>
								IO层框架 EPOLL+ Multi-Reactor+ Threadpool<br>
								涉及协议 TCP、HTTP1.1 Get/Post/Pipeline、CGI<br>
								采用组件 Nginx-fastcgi、Redis、MySQL、Websocketd<br>
								系统目标 大并发、高性能、易维护、可追溯、可容错、可监控告警<br>
								编程范式 IO复用、 有限状态机、 注册回调机制、 线程单例模式<br>
								数据结构 阻塞队列、 定时器堆、 异步非阻塞日志、 空闲连接队列</p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="/zlonqi/styles/img/portfolio/prj-02.jpg" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">C10M+ server</h2>
                                <p>C10M+ 无共享、零拷贝、微内核 下一代高性能高并发服务器框架</p>
                                <a href="https://zlonqi.gitee.io/2020/02/11/lonky-pretty-server/" class="pf-btn-view btn btn-primary" target="_blank">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->
