<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育背景</h2>
            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="/styles/img/NCU.png" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>南昌大学</strong>
                        <span>2015 - 2019 | 信息安全 | 本</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
			<div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="/styles/img/scut.jpg" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>华南理工大学</strong>
                        <span>2019 - 2022 | 软件工程 | 硕</span>
                    </div>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
