<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">个人空间</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">语雀(博客)：</dt>
                <dd>
                <a href="https://www.yuque.com/longky">
                    <image src="/styles/img/yuque.png">
                    </a>
                </dd>

                <!--<dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:xxxx@xx.com">zlonqi@163.com</a></dd>!-->
				
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
