<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Career</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2024 <strong class="text-upper">2</strong> - 2025 <strong class="text-upper"></strong></span>
                    </time>
                    <h3>深圳前海影石科技</h3>
                    <span class="education-company">移动端C++工程师，负责移动端算法SDK的开发与维护，确保算法在移动端的高效运行，优化模型管理流程，提升算法在移动端的应用性能。
                    </span>
                    <!--<p>后台开发</p>!-->
                    <p></p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2022 <strong class="text-upper">7</strong> - 2023 <strong class="text-upper">9</strong></span>
                    </time>
                    <h3>腾讯WXG事业群</h3>
                    <span class="education-company">安全与风控业务 c++后台开发。负责项目的核心模块开发，采用C++语言实现高性能后台服务，优化风控系统，提升风险识别的准确性和响应速度。
                    </span>
                    <!--<p>后台开发</p>!-->
                    <p></p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2021 <strong class="text-upper">3</strong> - 2021 <strong class="text-upper">5</strong></span>
                    </time>
                    <h3>腾讯云</h3>
                    <span class="education-company">容器产品中心后台开发(实习)</span>
                    <!--<p>后台开发</p>!-->
                    <p></p>
                </div>
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>2018 <strong class="text-upper">10</strong> - 2018 <strong class="text-upper">12</strong></span>
                    </time>
                    <h3>今日头条</h3>
                    <span class="education-company">测试开发(实习)</span>
                    <!--<p>测试开发</p>!-->
                </div>
                <!-- .education-box -->
            </div>
        </div>
    </div>
</section><!-- .section -->
