<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">工作经历</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/bytedance.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">字节跳动(上海)</h3>
            </div>
        </div>
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/tencent.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">腾讯云(深圳)</h3>
            </div>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
